# Ignore the following directories
sbatch_files/
test_plots/
runs/
plots/
ckpt/
data/
figs/
*.bin
*.html
*.pyc
__pycache__/
expt_plots_non_fusion/
final_plots/
new_plots/
residual_histogram_final_plots/